@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

#btn-signup {
  /* background-color: #3271b3; */
  background-image: linear-gradient(#62d18d, #1b904e);
  padding: 10px 20px;
}

#btn-join {
  padding: 7px 40px;
}

#btn-courses {
  background-image: linear-gradient(#62d18d, #1b904e);
  padding: 8px 30px;
  margin-left: 20px;
}

.nav-text {
  color: #3271b3;
  font-size: 17px;
}

#img-header {
  height: 100%;
  width: 100%;
  /* margin-top: 40px; */
}
/* 
.card-style {
  height: 160px;
  width: 200px;
} */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.text-header {
  font-size: 48px;
}

.contents {
  margin-top: 100px;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-section {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}

.content-section img {
  padding: 9px 55px;
}

#text-back {
  background-color: #62d18d;
  border-radius: 0px 0px 10px 10px;
}

.text-back {
  background-color: #f4f4f4;
  border-radius: 0px 0px 10px 10px;
}

.top-categories {
  margin-top: 80px;
}

.navbar {
  background-image: linear-gradient(#62d18d, #1b904e);
}

.development-section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.text-color {
  color: #7c7c7c;
}

.view-btn{
  color: #62D18D;
  border: 1px solid #62D18D;
  background-color: white;
  border-radius: 38px;
  padding: 3px 35px;
}

.card-section{
  display: flex;
  justify-content: space-between;
}

.img-section{
  display: flex;
  padding-left: 40px; 
}

.single-card{
  width: 267px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(29, 28, 28, 0.2), 0 6px 20px 0 rgba(19, 18, 18, 0.19);
}

.single-card img{
  height: 180px;
  width: 180px;
}

.card-detail{
  background-color: #F9F9F9;
  border-radius: 0px 0px 10px 10px;

}

.price-color{
  color: #62D18D;
}

.heart-icon-style{
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  margin-top: 5px;
  margin-right: 5px;
}


.online-seminar{
  margin-top: 80px;
}

.seminar-card{
  box-shadow: 0 4px 4px 0 rgba(29, 28, 28, 0.2), 0 6px 20px 0 rgba(19, 18, 18, 0.19);
  border-radius: 29px;
}

.card-border{
  padding: 25px 40px 24px 27px;
}


#webinar-join-btn{
  background-image: linear-gradient(#62d18d, #1b904e);
  border-radius: 14px;
  padding: 12px 53px;
}

.web-details{
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
}

.instructor{
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  background-color: #F9F9F9;
  padding: 72px 80px 150px 0px;
}





/* Media query For Responsiveness */

@media screen and (max-width: 576px) {
  .contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .development-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 577px) and (max-width: 1400px) {
  .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .content-section {
    margin-top: 20px;
  }

  
}
