#btn-courses {
  background-color: #3271b3;
  padding: 8px 30px;
  margin-left: 20px;
}

d-flex justify-content-between mt-5 .content-section {
  padding: 9px 55px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-section img {
  padding: 15px;
}

.contents {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-box input{
  font-size: 18px;
  color: #2C2C2C;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.form-box input{
  font-size: 18px;
  color: #2C2C2C;
  padding: 10px ;
  border: none;
  outline: none;
  border-radius: 10px;
}

.form-content button{
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #FFA425;
}

<section class="container card-section">
<div class="users-cards">
  <div class="users">
    <img src="./assets/images/lumen-home/001-team.png" alt="">
    <div class="div">
      <p>5000+</p>
      <p><small>USERS</small></p>
    </div>
  </div>
</div>
<div class="users-cards">
  <div class="users">
    <img src="./assets/images/lumen-home/003-presentation.png" alt="">
    <div class="div">
      <p>5000+</p>
      <p><small>INSTRUCTORS</small></p>
    </div>
  </div>
</div>
<div class="users-cards">
  <div class="users">
    <img src="./assets/images/lumen-home/004-read 1.png" alt="">
    <div class="div">
      <p>5000+</p>
      <p><small>STUDENTS</small></p>
    </div>
  </div>
</div>
<div class="users-cards">
  <div class="users">
    <img src="./assets/images/lumen-home/004-online-course.png" alt="">
    <div class="div">
      <p>5000+</p>
      <p><small>COURSES</small></p>
    </div>
  </div>
</div>
</section>